/*HUY XUAN PHAM, 000899551, ASSIGNMENT 1, CSS file*/
*{
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: auto;
    grid-gap: 20px;
}

header {
    grid-column: 1 / span 4;
    grid-row: 1;
    text-align: center;
    background-color: rgb(187, 187, 187);
}

.me {
    text-align: center;
    font-weight: bold;
}

h1 {
    animation: rainbow 10s infinite;
    padding-top: 40px;
}

h4 {
    text-align: center;
}

.gridnav {
    grid-column: 1 / span 4;
    grid-row: 2;
    }

/* NAV */	
nav {
        text-align: center;
        padding: 20px;
        }
    
nav a {
        color: black;
        margin: 15px;
        border: 3px solid rgb(88, 88, 88);
        border-radius: 20px;
        text-decoration: none;
        background-color: rgb(250, 250, 250);
        padding: 10px 10px;
        }
    
nav li {
        display: inline;
        }

nav a:hover{
    background-color: rgb(134, 134, 134);
}

nav a.active {
    color: grey;
    pointer-events: none;
    background-color: darkgrey;
}


body {
    background-color: rgb(236, 236, 236);
}

/*animation for header*/
span.rM {
    animation-delay: 0s;
}

span.rY {
    animation-delay: 0.1s;
}

span.rW {
    animation-delay: 0.2s;
}

span.rO {
    animation-delay: 0.3s;
}

span.rR {
    animation-delay: 0.4s;
}

span.rL {
    animation-delay: 0.5s;
}

span.rD {
    animation-delay: 0.6s;
}
@keyframes rainbow {
    0%    { color: red }
    14.3% { color: purple}
    28.6% { color: orange; }
    42.9% { color: yellow;}
    57.2% { color: green;}
    71.5% { color: blue;}
    85.8% { color: indigo;}
    100%  { color: red;}
}

.story1 {
    grid-column: 2;
    grid-row: 3;
    padding-top: 40px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;

}

.story2 {
    grid-column: 2/ span 2;
    grid-row: 4;
    padding-top: 20px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;

}


.author {
    grid-column: 2 / span 2;
    grid-row: 7;
    margin: 20px 25% 10px 25%;
    padding: 10px;
    border-radius: 20%;
}

.whatisay {
    padding: 50px;
    animation: studentbox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.pic {
    grid-column: 3;
    grid-row: 3;
    margin-left: 20px;
    margin-top: 50px;
    width: 100%;
    height: auto;
    text-align: center;
}

.pic2 {
    grid-column: 2/ span 2;
    grid-row: 5;
    margin: 0 auto;
    margin-top: 5px;
    width: 90%;
    height: auto;
    text-align: center;
}

.story3{
    grid-column: 2 / span 2;
    grid-row: 3;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
}


h3 {
    text-align: center;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

span.storytitle{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 15%;
}


span.sourceforinfo {
    font-size: 15px;
    font-style: italic;
}


footer {
    grid-column: 1/ span 4;
    grid-row: 8;
    text-align: center;
    background-color: rgb(187, 187, 187);
    margin-top: 20px;
    padding-top: 20px;
}


.pic1 {
    text-align: center;
}

.intro {
    font-size: 20px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 20px;
}

@keyframes studentbox {
    0% { 
        background-color: rgb(165, 165, 165);
        border-radius: 50%;
    }
    60% { 
        background-color: rgb(236, 236, 236);
        border-radius: 50%;
    }
    100% { 
        background-color: rgb(165, 165, 165);
        border-radius: 50%;
    }
}


/*Animation for the bars*/
.bar {
    width: 40%;
    height: 3px;
    top: 25%;
    left: 36%;
    background: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-50%, -50%);
}

.bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(104, 104, 104);
    animation: animate 10s linear infinite;
}

.bar2{
    grid-column: 2 / span 2;
    grid-row: 6;
}
.bar2 {
    width: 40%;
    height: 3px;
    position: relative;
    margin: 10px 10px 10px 15%;
    background: rgb(255, 255, 255);
}

.bar2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(104, 104, 104);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        left: 0;
        background-color: darkgoldenrod;
    }

    50% {
        left: 78%;
        background-color: rgb(148, 148, 148);
    }

    0% {
        left: 0;
        background-color: darkgoldenrod;
    }
}
